.nav-bar {
  padding: 30px;
  display: flex;
  justify-content: center;
  .active {
    border-bottom: 2px solid rgb(32, 121, 223);
  }

  ul {
    list-style: none;

    li {
      display: inline-block;

      a {
        padding: 10px;
        display: block;
        background: rgb(255, 255, 255);
        color: rgb(32, 121, 223);
        text-decoration: none;
        font-weight: bold;
        margin-left: 10px;
      }
    }
  }
}
